  .High { color:red; }
  
  .Medium { color:orange; }
  
  .Low { color:gray; }
  
  .finished { text-decoration:line-through; }
  
  h1 {
    background-color: blue;
    padding: 5px;
    color: rgb(200,200,200);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  
  ul {
    background-color: blue;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  
  .interact {
    background-color: blue;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: rgb(200,200,200);
  }
