nav {
  position: fixed;
  top=0px;
  left=0px;
  height: 50px;
  background-color: blue;
  width: 100%;
}

nav li {
  display: inline;
  padding: 10px;
  color: black;
}

nav a {
  color: rgb(240,240,240);
}

nav  li a:hover {
  background-color: black;
}

.left {
  margin-top: 60px;
  display: inline;
  width: 50%;
}

.right {
  margin-top: 60px;
  display: inline;
  width: 50%;
}


